---
layout: default
title: Books
---

{% include biography.html %}
<div class="mb-12"></div>
<section class="mb-20">
  <div
    class="relative flex w-full overflow-x-auto shadow-inner gap-6 snap-x snap-mandatory p-14 bg-gray-200 dark:bg-gray-700">
    <div class="snap-center shrink-0">
      <div class="w-4 shrink-0 sm:w-48"></div>
    </div>
    {%- for book in site.books %}
    <div class="snap-center shrink-0 first:pl-8 last:pr-8">
      <a href="{{ book.url }}" class="rounded dev">
        {% if book.cover_image %}
        <img src="/assets/images/covers/{{  book.cover_image }}" alt="{{ book.title }}"
          class="h-[360px] w-[240px] m-4 rounded dev" />
        {% else %}
        <img src="{{  'https://via.placeholder.com/1200x1800' }}" alt="{{ book.title }}"
          class="h-[360px] w-[240px] m-4 rounded dev" />
        {% endif %}
        <h3 class="h3 text-center">{{ book.title }}</h3>
      </a>
    </div>
    {%- endfor %}
    <div class="snap-center shrink-0">
      <div class="w-4 shrink-0 sm:w-48"></div>
    </div>
  </div>
</section>