<header class="max-w-prose mx-auto mt-16 flex flex-col justify-center">
  <a class="inline-flex items-center flex-col mx-auto" aria-label="All posts from Ben Wilson, Author" href="/">
    <picture class="shadow size-16 rounded-blob-4">
      <source type="image/avif" srcset="/assets/images/ben-beard-2024.avif" class="rounded-blob-4 shadow">
      <img src="/assets/images/ben-beard-2024.jpg" size="50x50" alt="" class="rounded-blob-4 shadow">
    </picture>
    <p class=" text-subtle uppercase txt--normal tracking-widest flush--top mb-4">
      {{ site.title }}
    </p>
  </a>
</header>