---
layout: default
---
{% include biography.html %}

<section id="hero" class="hero">
  <div class="cover-pane">
    {% if page.cover_image %}
    <img src="/assets/images/covers/{{ page.cover_image }}" alt="{{ page.title }}"
      class="book-cover aspect-[2/3] m-4 rounded" />
    {% else %}
    <img src="/assets/images/covers/no-cover.avif" alt="{{ page.title }}" class="book-cover aspect-[2/3] m-4 rounded" />
    {% endif %}
  </div>
  <div class="flex content">
    <div class="book-summary">
      <header style="">
        <h1 class="text-3xl md:text-4xl txt-shadow font-semibold">{{page.title}}</h1>
      </header>
      <div class="flex-1 txt-shadow">{{page.summary}}</div>
      <aside class="flex justify-center mt-8 item-center">
        <div class="">
          {% for item in page.links %}
          <a class='button primary on-primary-text rounded-full' href="{{ item[1] }}">
            <span class='tracking-tightest block'>Available on</span>
            {{ item[0] | capitalize }}
          </a>
          {% endfor %}
        </div>
      </aside>
    </div>
    <div class="art-pane">
      {% if page.art_image %}
      <img src='/assets/images/covers/{{ page.art_image }}'>
      {% else %}
      <img src='https://via.placeholder.com/900x600?text=Book+Cover'>
      {% endif %}
    </div>
  </div>
</section>

<p class="hidden">
  Background image courtesy of
  <a
    href="https://cdn.discordapp.com/attachments/1008571208041775235/1190423718380437694/merovex_simple_star_field_in_the_depths_of_space_with_a_nebula__f2d9548b-46a6-427c-8257-0e185883a3e2.png?ex=65a1bf7b&is=658f4a7b&hm=f5464da930e08ea8d01748dc55533c43f17f6689c3d76c63bcf16667286e7bb3&auth">Midjourney</a>.
</p>